<div class='details-dialog'>
    <div class='dialog-header'>
        <button (click)='dialogRef.close()' class='dialog__close-btn'></button>
    </div>

    <div mat-dialog-content class='dialog-content'>
        <mat-card class='img-card'>
            <img mat-card-image src="https://image.tmdb.org/t/p/original/{{data.poster_path}}">
        </mat-card>
        <mat-card class='content-card'>
            <mat-card-header>
                <img mat-card-avatar src="https://image.tmdb.org/t/p/original/{{data.backdrop_path}}">
                <mat-card-title>{{data.title}}</mat-card-title>
                <mat-card-subtitle>{{data.tagline}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class='main-content'>
                <div>
                    <p class='overview'>Overview</p>
                    <p>{{data.overview}}</p>
                </div>
                <div>
                    <p><span class='genres'>Genres: </span>{{genres}}</p>
                </div>
                <div>
                    <p> <span class='vote'>Average vote: </span>{{data.vote_average}}</p>
                </div>
                <div>
                    <p> <span class='budget'>Budget: </span>{{data.budget}}</p>
                </div>
                <div class='recomendations'>
                    <p> <span class='rec-title'>Recomendations: </span></p>
                    <p *ngFor='let rec of recomendations'>{{rec}}</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div mat-dialog-actions class='dialog-actions'>
        <button mat-raised-button [color]='favColor' (click)='addToFavorite()'>{{favText}}</button>
    </div>
</div>